@charset "utf-8";
.access {
    padding: 90px 0 60px;
    color: #5a5c5f;
}
.access-title {
    margin-bottom: 15px;
}
.access-text {
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
td, th {
    border: 1px solid #b7b7b7;
    padding: 6px 10px;
}
.btn {
    text-decoration: none;
    background: #33CC00;
    padding: 14px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
}
.explain_emailbtn {
    text-align: center;
    color: #33CC00;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*1列目だけ*/
tr td:nth-child(1){
    font-weight:  bold;
    text-align: center;
}