<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>優良投資物件まとめ | トップページ</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style_map.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
<meta name="description" content="日本全国の優良投資物件情報まとめサイトです。利回り10%以上、築年数15年以内の優良物件のみを掲載しています。">
<link rel="shortcut icon" href="{% static "images/logo-main.ico" %}">
{% load static %}
<link rel="stylesheet" href="{% static 'common.css' %}">
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'menu.css' %}">
<link rel="stylesheet" href="{% static 'info.css' %}">
<link rel="stylesheet" href="{% static 'contact.css' %}">
<link rel="stylesheet" href="{% static 'responsive.css' %}">
</head>

<body>
    <div class="header-center" style="margin-bottom: 30px; text-align: center;">
        {% load static %}
        <a href={% url 'es_top' %}><img class="header-logo" src="{% static "images/logo-main.png" %}" alt="優良投資物件まとめ"></a>
    </div>
    <div class="main-map">
        <div class="container-map">
            <h1 class="top-title-map" style="margin-bottom: 30px; margin-top: 50px; text-align: center; font-size: 45px;">優良投資物件</h1>
            <h2 class="top-subtitle-map"  style="margin-bottom: 30px; margin-top: 50px; text-align: center;">利回り10％以上、築年数15年以内</h2>
        </div>
    </div>

<div id="japan-map" class="clearfix">

<div id="hokkaido-touhoku" class="clearfix">
	<p class="area-title">北海道・東北</p>
	<div class="area">
		<a href={% url 'es_list_hokkaido' %}>
        	<div id="hokkaido">
        		<p>北海道</p>
          	</div>
		</a>
		<a href={% url 'es_list_aomori' %}>
			<div id="aomori">
				<p>青森</p>
			</div>
		</a>
		<a href={% url 'es_list_akita' %}>
			<div id="akita">
				<p>秋田</p>
			</div>
		</a>
		<a href={% url 'es_list_iwate' %}>
			<div id="iwate">
				<p>岩手</p>
			</div>
		</a>
		<a href={% url 'es_list_yamagata' %}>
			<div id="yamagata">
				<p>山形</p>
			</div>
		</a>
		<a href={% url 'es_list_miyagi' %}>
			<div id="miyagi">
				<p>宮城</p>
			</div>
		</a>
		<a href={% url 'es_list_fukushima' %}>
			<div id="fukushima">
				<p>福島</p>
			</div>
		</a>
	</div>
</div>

<div id="kantou">
	<p class="area-title">関東</p>
	<div class="area">
		<a href={% url 'es_list_gunma' %}>
			<div id="gunma">
				<p>群馬</p>
			</div>
		</a>
		<a href={% url 'es_list_tochigi' %}>
			<div id="tochigi">
				<p>栃木</p>
			</div>
		</a>
		<a href={% url 'es_list_ibaraki' %}>
			<div id="ibaraki">
				<p>茨城</p>
			</div>
		</a>
		<a href={% url 'es_list_saitama' %}>
			<div id="saitama">
				<p>埼玉</p>
			</div>
		</a>
		<a href={% url 'es_list_chiba' %}>
			<div id="chiba">
				<p>千葉</p>
			</div>
		</a>
		<a href={% url 'es_list_tokyo' %}>
			<div id="tokyo">
				<p>東京</p>
			</div>
		</a>
		<a href={% url 'es_list_kanagawa' %}>
			<div id="kanagawa">
				<p>神奈川</p>
			</div>
		</a>
	</div>
</div>

<div id="tyubu" class="clearfix">
	<p class="area-title">中部</p>
	<div class="area">
		<a href={% url 'es_list_nigata' %}>
			<div id="nigata">
				<p>新潟</p>
			</div>
		</a>
		<a href={% url 'es_list_toyama' %}>
			<div id="toyama">
				<p>富山</p>
			</div>
		</a>
		<a href={% url 'es_list_ishikawa' %}>
			<div id="ishikawa">
				<p>石川</p>
			</div>
		</a>
		<a href={% url 'es_list_fukui' %}>
			<div id="fukui">
				<p>福井</p>
			</div>
		</a>
		<a href={% url 'es_list_nagano' %}>
			<div id="nagano">
				<p>長野</p>
			</div>
		</a>
		<a href={% url 'es_list_gifu' %}>
			<div id="gifu">
				<p>岐阜</p>
			</div>
		</a>
		<a href={% url 'es_list_yamanashi' %}>
			<div id="yamanashi">
				<p>山梨</p>
			</div>
		</a>
		<a href={% url 'es_list_aichi' %}>
			<div id="aichi">
				<p>愛知</p>
			</div>
		</a>
		<a href={% url 'es_list_shizuoka' %}>
			<div id="shizuoka">
				<p>静岡</p>
			</div>
		</a>
	</div>
</div>

<div id="kinki" class="clearfix">
	<p class="area-title">近畿</p>
	<div class="area">
		<a href={% url 'es_list_kyoto' %}>
			<div id="kyoto">
				<p>京都</p>
			</div>
		</a>
		<a href={% url 'es_list_shiga' %}>
			<div id="shiga">
				<p>滋賀</p>
			</div>
		</a>
		<a href={% url 'es_list_osaka' %}>
			<div id="osaka">
				<p>大阪</p>
			</div>
		</a>
		<a href={% url 'es_list_nara' %}>
			<div id="nara">
				<p>奈良</p>
			</div>
		</a>
		<a href={% url 'es_list_mie' %}>
			<div id="mie">
				<p>三重</p>
			</div>
		</a>
		<a href={% url 'es_list_wakayama' %}>
			<div id="wakayama">
				<p>和歌山</p>
			</div>
		</a>
		<a href={% url 'es_list_hyougo' %}>
			<div id="hyougo">
				<p>兵庫</p>
			</div>
		</a>
	</div>
</div>

<div id="tyugoku" class="clearfix">
	<p class="area-title">中国</p>
	<div class="area">
		<a href={% url 'es_list_tottori' %}>
			<div id="tottori">
				<p>鳥取</p>
			</div>
		</a>
		<a href={% url 'es_list_okayama' %}>
			<div id="okayama">
				<p>岡山</p>
			</div>
		</a>
		<a href={% url 'es_list_shimane' %}>
			<div id="shimane">
				<p>島根</p>
			</div>
		</a>
		<a href={% url 'es_list_hiroshima' %}>
			<div id="hiroshima">
				<p>広島</p>
			</div>
		</a>
		<a href={% url 'es_list_yamaguchi' %}>
			<div id="yamaguchi">
				<p>山口</p>
			</div>
		</a>
	</div>
</div>

<div id="shikoku" class="clearfix">
	<p class="area-title">四国</p>
	<div class="area">
		<a href={% url 'es_list_kagawa' %}>
			<div id="kagawa">
				<p>香川</p>
			</div>
		</a>
		<a href={% url 'es_list_ehime' %}>
			<div id="ehime">
				<p>愛媛</p>
			</div>
		</a>
		<a href={% url 'es_list_tokushima' %}>
			<div id="tokushima">
				<p>徳島</p>
			</div>
		</a>
		<a href={% url 'es_list_kouchi' %}>
			<div id="kouchi">
				<p>高知</p>
			</div>
		</a>
	</div>
</div>

<div id="kyusyu" class="clearfix">
	<p class="area-title">九州・沖縄</p>
	<div class="area">
		<a href={% url 'es_list_fukuoka' %}>
			<div id="fukuoka">
				<p>福岡</p>
			</div>
		</a>
		<a href={% url 'es_list_saga' %}>
			<div id="saga">
				<p>佐賀</p>
			</div>
		</a>
		<a href={% url 'es_list_nagasaki' %}>
			<div id="nagasaki">
				<p>長崎</p>
			</div>
		</a>
		<a href={% url 'es_list_oita' %}>
			<div id="oita">
				<p>大分</p>
			</div>
		</a>
		<a href={% url 'es_list_kumamoto' %}>
			<div id="kumamoto">
				<p>熊本</p>
			</div>
		</a>
		<a href={% url 'es_list_miyazaki' %}>
			<div id="miyazaki">
				<p>宮崎</p>
			</div>
		</a>
		<a href={% url 'es_list_kagoshima' %}>
			<div id="kagoshima">
				<p>鹿児島</p>
			</div>
		</a>
		<a href={% url 'es_list_okinawa' %}>
			<div id="okinawa">
				<p>沖縄</p>
			</div>
		</a>
	</div>
</div>

</div> <!-- japan-map -->

</body>
</html>
